.ipynb_checkpoints/
__pychache__/
scripts/.ipynb_checkpoints/
scripts/__pycache__/
pp-images/
presentation.pptx
data/original-data/
data/nyc-polygons/boroughs-low-res-spatial/
necessary_wheels/
dynamic-features-draft.ipynb
tensorflow/.ipynb_checkpoints/
presentation.pptx