.ipynb_checkpoints/
__pychache__/
scripts/.ipynb_checkpoints/
scripts/__pycache__/
images/
securitas-presentation.pptx
data/original-data/
data/nyc-polygons/boroughs-low-res-spatial/
necessary_wheels/
scripts/dynamic-features-draft.ipynb
tensorflow/.ipynb_checkpoints/